<section class="container">
    <h1>FORMULARIO ASESOR</h1>

    <form [formGroup]="formularioEjemplo">
      <div>
        <label for="" class="form-label">Nombre</label>
  
        <input type="text" formControlName="nombre">
  
        <p *ngIf="formularioEjemplo.get('nombre')?.errors?.['required']">El campo nombre es requerido</p>
      </div>
  
      <div>
        <label for="" class="form-label">Numero Asesor</label>
  
        <input type="text" formControlName="cedula">
  
        <p *ngIf="formularioEjemplo.get('cedula')?.errors?.['required']">El campo cedula es requerido</p>
      </div>
  
      <button class="btn btn-primary" (click)="agregarUsuarios('alto')">Prioritario</button>
      <button class="btn btn-primary" (click)="agregarUsuarios('medio')">Buena Gente</button>
      <button class="btn btn-primary" [disabled]="!formularioEjemplo.valid" (click)="agregarUsuarios('bajo')">Cliente Normal</button>
  
    </form>
  
  
  
  </section>